.navbar-dropdown {
  left: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.45s ease;
  z-index: 1030;
  background: #282828; }
  .navbar-dropdown .navbar-logo {
    margin-right: 0.8rem;
    transition: margin 0.3s ease-in-out;
    vertical-align: middle; }
    .navbar-dropdown .navbar-logo img {
      height: 3.125rem;
      transition: all 0.3s ease-in-out; }
    .navbar-dropdown .navbar-logo.mbr-iconfont {
      font-size: 3.125rem;
      line-height: 3.125rem; }
  .navbar-dropdown .navbar-caption {
    font-weight: 700;
    white-space: normal;
    vertical-align: -4px;
    line-height: 3.125rem !important; }
    .navbar-dropdown .navbar-caption, .navbar-dropdown .navbar-caption:hover {
      color: inherit;
      text-decoration: none; }
  .navbar-dropdown .mbr-iconfont + .navbar-caption {
    vertical-align: -1px; }
  .navbar-dropdown.navbar-fixed-top {
    position: fixed; }
  .navbar-dropdown .navbar-brand span {
    vertical-align: -4px; }
  .navbar-dropdown.bg-color.transparent {
    background: none; }
  .navbar-dropdown.navbar-short .navbar-brand {
    padding: 0.625rem 0; }
    .navbar-dropdown.navbar-short .navbar-brand span {
      vertical-align: -1px; }
  .navbar-dropdown.navbar-short .navbar-caption {
    line-height: 2.375rem !important;
    vertical-align: -2px; }
  .navbar-dropdown.navbar-short .navbar-logo {
    margin-right: 0.5rem; }
    .navbar-dropdown.navbar-short .navbar-logo img {
      height: 2.375rem; }
    .navbar-dropdown.navbar-short .navbar-logo.mbr-iconfont {
      font-size: 2.375rem;
      line-height: 2.375rem; }
  .navbar-dropdown.navbar-short .mbr-table-cell {
    height: 3.625rem; }
  .navbar-dropdown .navbar-close {
    left: 0.6875rem;
    position: fixed;
    top: 0.75rem;
    z-index: 1000; }
  .navbar-dropdown .hamburger-icon {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    -webkit-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    -moz-box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828;
    box-shadow: 0 -6px 0 1px #282828,0 0 0 1px #282828,0 6px 0 1px #282828; }

.dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  border-bottom: 0.35em solid transparent;
  border-left: 0.35em solid;
  border-right: 0;
  border-top: 0.35em solid transparent;
  margin-left: 0.3rem; }

.dropdown-menu .dropdown-item:focus {
  outline: 0; }

.nav-dropdown {
  font-size: 0.75rem;
  font-weight: 500;
  height: auto !important; }
  .nav-dropdown .nav-btn {
    padding-left: 1rem; }
  .nav-dropdown .link {
    margin: .667em 1.667em;
    font-weight: 500;
    padding: 0;
    transition: color .2s ease-in-out; }
    .nav-dropdown .link.dropdown-toggle {
      margin-right: 2.583em; }
      .nav-dropdown .link.dropdown-toggle::after {
        margin-left: .25rem;
        border-top: 0.35em solid;
        border-right: 0.35em solid transparent;
        border-left: 0.35em solid transparent;
        border-bottom: 0; }
      .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
        margin: 0;
        padding: 0.667em 3.263em  0.667em 1.667em; }
  .nav-dropdown .link::after,
  .nav-dropdown .dropdown-item::after {
    color: inherit; }
  .nav-dropdown .btn {
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0;
    margin-bottom: 0;
    padding-left: 1.25rem;
    padding-right: 1.25rem; }
  .nav-dropdown .dropdown-menu {
    border-radius: 0;
    border: 0;
    left: 0;
    margin: 0;
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    position: relative; }
  .nav-dropdown .dropdown-submenu {
    margin-left: 0.125rem;
    top: 0; }
  .nav-dropdown .dropdown-item {
    font-weight: 500;
    line-height: 2;
    padding: 0.3846em 4.615em 0.3846em 1.5385em;
    position: relative;
    transition: color .2s ease-in-out, background-color .2s ease-in-out; }
    .nav-dropdown .dropdown-item::after {
      margin-top: -0.3077em;
      position: absolute;
      right: 1.1538em;
      top: 50%; }
    .nav-dropdown .dropdown-item:focus, .nav-dropdown .dropdown-item:hover {
      background: none; }

@media (max-width: 767px) {
  .nav-dropdown.navbar-toggleable-sm {
    bottom: 0;
    display: none;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    width: 18.75rem;
    z-index: 999; } }
.nav-dropdown.navbar-toggleable-xl {
  bottom: 0;
  display: none;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width: 18.75rem;
  z-index: 999; }

.nav-dropdown-sm {
  display: block !important;
  overflow-x: hidden;
  overflow: auto;
  padding-top: 3.875rem; }
  .nav-dropdown-sm::after {
    content: "";
    display: block;
    height: 3rem;
    width: 100%; }
  .nav-dropdown-sm.collapse.in ~ .navbar-close {
    display: block !important; }
  .nav-dropdown-sm.collapsing, .nav-dropdown-sm.collapse.in {
    transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    background: #282828; }
  .nav-dropdown-sm.collapsing[aria-expanded="false"] {
    transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%); }
  .nav-dropdown-sm .nav-item {
    display: block;
    margin-left: 0 !important;
    padding-left: 0; }
  .nav-dropdown-sm .link,
  .nav-dropdown-sm .dropdown-item {
    border-top: 1px dotted rgba(255, 255, 255, 0.1);
    font-size: 0.8125rem;
    line-height: 1.6;
    margin: 0 !important;
    padding: 0.875rem 2.4rem 0.875rem 1.5625rem !important;
    position: relative;
    white-space: normal; }
    .nav-dropdown-sm .link:focus, .nav-dropdown-sm .link:hover,
    .nav-dropdown-sm .dropdown-item:focus,
    .nav-dropdown-sm .dropdown-item:hover {
      background: rgba(0, 0, 0, 0.2) !important;
      color: #c0a375; }
  .nav-dropdown-sm .nav-btn {
    position: relative;
    padding: 1.5625rem 1.5625rem 0 1.5625rem; }
    .nav-dropdown-sm .nav-btn::before {
      border-top: 1px dotted rgba(255, 255, 255, 0.1);
      content: "";
      left: 0;
      position: absolute;
      top: 0;
      width: 100%; }
    .nav-dropdown-sm .nav-btn + .nav-btn {
      padding-top: 0.625rem; }
      .nav-dropdown-sm .nav-btn + .nav-btn::before {
        display: none; }
  .nav-dropdown-sm .btn {
    padding: 0.625rem 0; }
  .nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0; }
  .nav-dropdown-sm .dropdown-toggle[data-toggle="dropdown-submenu"][aria-expanded="true"]::after {
    border-top: 0;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0.35em solid; }
  .nav-dropdown-sm .dropdown-menu {
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: 0;
    float: none;
    border-radius: 0;
    background: none; }
  .nav-dropdown-sm .dropdown-submenu {
    left: 100%;
    margin-left: 0.125rem;
    margin-top: -1.25rem;
    top: 0; }

.navbar-toggleable-sm .nav-dropdown .dropdown-menu {
  position: absolute; }

.navbar-toggleable-sm .nav-dropdown .dropdown-submenu {
  left: 100%;
  margin-left: 0.125rem;
  margin-top: -1.25rem;
  top: 0; }

.navbar-toggleable-sm.opened .nav-dropdown .dropdown-menu {
  position: relative; }

.navbar-toggleable-sm.opened .nav-dropdown .dropdown-submenu {
  left: 0;
  margin-left: 00rem;
  margin-top: 0rem;
  top: 0; }

.is-builder .nav-dropdown.collapsing {
  transition: none !important; }


.engine {
	position: absolute;
	text-indent: -2400px;
	text-align: center;
	padding: 0;
	top: 0;
	left: -2400px;
}

:root {
  --background: #fefae6;
  --background-900: #efead2;
  --background-800: #e2d9ab;
  --background-700: #d6c782;
  --background-600: #c4ab2d;
  --background-dark: #171200;
  --background-dark-900: #261e00;
  --background-dark-800: #3d3200;
  --background-dark-700: #544500;
  --background-dark-600: #6c5900;
  --dominant-color: #f0c808;
  --dominant-dark-color: #4e2a03;
  --dominant-darken-color: #b99800;
  --dominant-light-color: #e9e6ce;
  --dominant-lighten-color: #fffb51;
  --primary-color: #38a3a5;
  --primary-dark-color: #004246;
  --primary-darken-color: #007476;
  --primary-light-color: #d2f1f1;
  --primary-lighten-color: #6fd5d6;
  --secondary-color: #4d5e85;
  --secondary-dark-color: #213158;
  --secondary-darken-color: #203558;
  --secondary-light-color: #d7e9fc;
  --secondary-lighten-color: #7b8bb5;
  --success-color: #20ac6b;
  --success-dark-color: #1e421f;
  --success-darken-color: #007c3f;
  --success-light-color: #d2eadb;
  --success-lighten-color: #60df9a;
  --danger-color: #ae1e2c;
  --danger-dark-color: #5b2a24;
  --danger-darken-color: #770003;
  --danger-light-color: #e0c4c2;
  --danger-lighten-color: #e65555;
  --warning-color: #cc9900;
  --warning-dark-color: #50280a;
  --warning-darken-color: #966b00;
  --warning-light-color: #e9e3cb;
  --warning-lighten-color: #ffc945;
  --info-color: #0aa3c2;
  --info-dark-color: #023e59;
  --info-darken-color: #007492;
  --info-light-color: #cfeded;
  --info-lighten-color: #5ed4f5;
  --background-text: #000000;
  --background-900-text: #000000;
  --background-800-text: #000000;
  --background-700-text: #000000;
  --background-600-text: #000000;
  --background-dark-text: #ffffff;
  --background-dark-900-text: #ffffff;
  --background-dark-800-text: #ffffff;
  --background-dark-700-text: #ffffff;
  --background-dark-600-text: #ffffff;
  --dominant-text: #000000;
  --dominant-dark-text: #ffffff;
  --dominant-darken-text: #000000;
  --dominant-light-text: #000000;
  --dominant-lighten-text: #000000;
  --primary-text: #ffffff;
  --primary-dark-text: #ffffff;
  --primary-darken-text: #ffffff;
  --primary-light-text: #000000;
  --primary-lighten-text: #000000;
  --secondary-text: #ffffff;
  --secondary-dark-text: #ffffff;
  --secondary-darken-text: #ffffff;
  --secondary-light-text: #000000;
  --secondary-lighten-text: #000000;
  --success-text: #ffffff;
  --success-dark-text: #ffffff;
  --success-darken-text: #ffffff;
  --success-light-text: #000000;
  --success-lighten-text: #000000;
  --danger-text: #ffffff;
  --danger-dark-text: #ffffff;
  --danger-darken-text: #ffffff;
  --danger-light-text: #000000;
  --danger-lighten-text: #ffffff;
  --warning-text: #000000;
  --warning-dark-text: #ffffff;
  --warning-darken-text: #ffffff;
  --warning-light-text: #000000;
  --warning-lighten-text: #000000;
  --info-text: #ffffff;
  --info-dark-text: #ffffff;
  --info-darken-text: #ffffff;
  --info-light-text: #000000;
  --info-lighten-text: #000000;
  --display1-font: "Source Serif 4", sans-serif;
  --display2-font: "Source Serif 4", sans-serif;
  --display4-font: "Source Serif 4", sans-serif;
  --display5-font: "Source Serif 4", sans-serif;
  --display7-font: "Source Serif 4", sans-serif;
}
.cid-uTAqkzEoyp  {
  z-index: 1000;
  width: 100%;
  position: relative;
}
.cid-uTAqkzEoyp  .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 767px) {
  .cid-uTAqkzEoyp  .navbar-toggler {
    transform: scale(0.8);
  }
}
.cid-uTAqkzEoyp  .navbar-brand {
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-uTAqkzEoyp  .navbar-brand img {
  max-width: 100%;
  max-height: 100%;
}
.cid-uTAqkzEoyp  .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-uTAqkzEoyp  .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-uTAqkzEoyp  .navbar-nav {
  margin: auto;
  margin-left: 0;
  margin-left: auto;
}
.cid-uTAqkzEoyp  .navbar-nav .nav-item {
  padding: 0 !important;
  transition: 0.3s all !important;
}
.cid-uTAqkzEoyp  .navbar-nav .nav-item .nav-link {
  padding: 16px !important;
  margin: 0 !important;
  border-radius: 1rem !important;
  transition: 0.3s all !important;
}
.cid-uTAqkzEoyp  .navbar-nav .nav-item .nav-link:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
.cid-uTAqkzEoyp  .navbar-nav .open .nav-link::after {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  .cid-uTAqkzEoyp  .navbar-nav .open .nav-link::before {
    content: "";
    width: 100%;
    height: 20px;
    top: 100%;
    background: transparent;
    position: absolute;
  }
}
.cid-uTAqkzEoyp  .navbar-nav .dropdown-item {
  padding: 12px !important;
  border-radius: 0.5rem !important;
  margin: 0 8px !important;
  transition: 0.3s all !important;
}
.cid-uTAqkzEoyp  .navbar-nav .dropdown-item:hover {
  background-color: rgba(27, 31, 10, 0.06);
}
@media (min-width: 992px) {
  .cid-uTAqkzEoyp  .navbar-nav {
    padding-left: 1.5rem;
  }
}
.cid-uTAqkzEoyp  .nav-link {
  width: fit-content;
  position: relative;
}
.cid-uTAqkzEoyp  .navbar-logo {
  margin: 0 !important;
}
@media (max-width: 767px) {
  .cid-uTAqkzEoyp  .navbar-logo {
    padding-left: 0;
  }
}
.cid-uTAqkzEoyp  .navbar-caption {
  padding-left: 1rem;
  padding-right: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzEoyp  .nav-dropdown {
    padding-bottom: 0.5rem;
  }
}
.cid-uTAqkzEoyp  .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  transition: 0.3s all;
}
.cid-uTAqkzEoyp  .container {
  display: flex;
  height: 90px;
  padding: 0.5rem 0.6rem;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.8) !important;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100vw;
  margin-top: 1rem;
  background-color: #ffffff;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);
}
@media (max-width: 992px) {
  .cid-uTAqkzEoyp  .container {
    padding-right: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uTAqkzEoyp  .container {
    width: 95%;
    height: 56px !important;
    padding-right: 1rem;
    margin-top: 0rem;
  }
}
.cid-uTAqkzEoyp  .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-uTAqkzEoyp  .dropdown-menu {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  padding: 12px 4px !important;
  border-radius: 1.5rem;
  transition: 0.3s all !important;
  min-width: auto;
  background: #ffffff;
  background: rgba(255, 255, 255, 0.8) !important;
}
.cid-uTAqkzEoyp  .nav-item:focus,
.cid-uTAqkzEoyp  .nav-link:focus {
  outline: none;
}
.cid-uTAqkzEoyp  .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-uTAqkzEoyp  .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-uTAqkzEoyp  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-uTAqkzEoyp  .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-uTAqkzEoyp  .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-uTAqkzEoyp  .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-uTAqkzEoyp  .navbar {
  min-height: 90px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  background: transparent !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}
.cid-uTAqkzEoyp  .navbar.opened {
  transition: all 0.3s;
}
.cid-uTAqkzEoyp  .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-uTAqkzEoyp  .navbar .navbar-logo img {
  min-width: 6rem;
  object-fit: cover;
}
.cid-uTAqkzEoyp  .navbar .navbar-collapse {
  z-index: 1;
  justify-content: flex-end;
}
.cid-uTAqkzEoyp  .navbar.collapsed {
  justify-content: center;
}
.cid-uTAqkzEoyp  .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-uTAqkzEoyp  .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-uTAqkzEoyp  .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-uTAqkzEoyp  .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-uTAqkzEoyp  .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-uTAqkzEoyp  .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-uTAqkzEoyp  .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-uTAqkzEoyp  .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-uTAqkzEoyp  .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzEoyp  .navbar {
    min-height: 72px;
  }
  .cid-uTAqkzEoyp  .navbar .navbar-logo img {
    height: 2.5rem !important;
    min-width: 2.5rem !important;
  }
}
@media (max-width: 991px) {
  .cid-uTAqkzEoyp  .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-uTAqkzEoyp  .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-uTAqkzEoyp  .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 10px;
  }
  .cid-uTAqkzEoyp  .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-uTAqkzEoyp  .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-uTAqkzEoyp  .navbar.navbar-short .navbar-logo img {
  height: 2rem;
}
.cid-uTAqkzEoyp  .dropdown-item.active,
.cid-uTAqkzEoyp  .dropdown-item:active {
  background-color: transparent;
}
.cid-uTAqkzEoyp  .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-uTAqkzEoyp  .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-uTAqkzEoyp  .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-uTAqkzEoyp  .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-uTAqkzEoyp  .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 105%;
  transform: none;
  top: -12px;
}
.cid-uTAqkzEoyp  .navbar .dropdown.open > .dropdown-menu {
  display: flex;
}
.cid-uTAqkzEoyp  ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-uTAqkzEoyp  .navbar-buttons {
  text-align: center;
  min-width: 140px;
}
@media (max-width: 992px) {
  .cid-uTAqkzEoyp  .navbar-buttons {
    text-align: left;
  }
}
.cid-uTAqkzEoyp  button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-uTAqkzEoyp  button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-uTAqkzEoyp  button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-uTAqkzEoyp  button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uTAqkzEoyp  button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-uTAqkzEoyp  button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-uTAqkzEoyp  nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uTAqkzEoyp  nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-uTAqkzEoyp  nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-uTAqkzEoyp  nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-uTAqkzEoyp  .navbar-dropdown {
  padding: 0 1rem;
}
.cid-uTAqkzEoyp  a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-uTAqkzEoyp  .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media (max-width: 992px) {
  .cid-uTAqkzEoyp  .icons-menu {
    justify-content: flex-start;
    margin-bottom: 0.5rem;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-uTAqkzEoyp  .navbar {
    height: 70px;
  }
  .cid-uTAqkzEoyp  .navbar.opened {
    height: auto;
  }
  .cid-uTAqkzEoyp  .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu {
  display: none;
  width: max-content;
  max-width: 500px !important;
  transform: translateX(-50%);
  top: calc(100% + 20px);
  left: 50%;
}
.cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown-item {
  line-height: 1 !important;
}
.cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
  align-items: center;
  display: flex;
  height: max-content !important;
  min-height: max-content !important;
}
.cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
  display: inline-block;
  position: static;
  margin-left: 0.5rem;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transition: 0.3s all;
  transform: rotate(-90deg);
}
.cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
  transform: rotate(0deg);
}
.cid-uTAqkzEoyp  .mbr-section-btn {
  margin: -0.6rem -0.6rem;
}
.cid-uTAqkzEoyp  .navbar-toggler {
  margin-left: 12px;
  margin-right: 8px;
  order: 1000;
}
@media (max-width: 991px) {
  .cid-uTAqkzEoyp  .navbar-brand {
    margin-right: auto;
  }
  .cid-uTAqkzEoyp  .navbar-collapse {
    z-index: -1 !important;
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    background: #ffffff;
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.8) !important;
    background: rgba(255, 255, 255, 0.8) !important;
    backdrop-filter: blur(8px);
  }
  .cid-uTAqkzEoyp  .navbar-nav .nav-item .nav-link::after {
    margin-left: 10px;
  }
  .cid-uTAqkzEoyp  .navbar-nav .dropdown-item:hover {
    background-color: rgba(27, 31, 10, 0.06);
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu {
    max-width: 100% !important;
    transform: translateX(0);
    top: 10px;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown-item {
    padding: 8px !important;
    line-height: 1 !important;
    margin-bottom: 4px !important;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item {
    align-items: center;
    display: flex;
    height: max-content !important;
    min-height: max-content !important;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown .dropdown-item::after {
    display: inline-block;
    position: static;
    margin-left: 0.5rem;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    transition: 0.3s all;
    transform: rotate(0deg);
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown.open .dropdown-item::after {
    transform: rotate(180deg);
  }
  .cid-uTAqkzEoyp  .navbar .dropdown > .dropdown-menu .dropdown-submenu {
    position: static;
    width: 100%;
    max-width: 100% !important;
    transform: translateX(0) !important;
    top: 0;
    left: 0;
    padding: 8px !important;
    border-radius: 1rem;
    background-color: rgba(27, 31, 10, 0.04) !important;
  }
  .cid-uTAqkzEoyp  .navbar .dropdown.open > .dropdown-menu {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 575px) {
  .cid-uTAqkzEoyp  .navbar-collapse {
    padding: 1rem;
  }
}

.cid-uTAqkzFez1 {
  display: flex;
}
@media (min-width: 768px) {
  .cid-uTAqkzFez1 {
    align-items: flex-end;
  }
  .cid-uTAqkzFez1 .row {
    justify-content: center;
  }
  .cid-uTAqkzFez1 .content-wrap {
    padding: 1rem 3rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .cid-uTAqkzFez1 .content-wrap {
    min-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-uTAqkzFez1 {
    -webkit-align-items: center;
    align-items: flex-end;
  }
  .cid-uTAqkzFez1 .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-uTAqkzFez1 .content-wrap {
    width: 100%;
  }
}
.cid-uTAqkzFez1 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTAqkzFez1 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}
.cid-uTAqkzFez1 .mbr-section-title,
.cid-uTAqkzFez1 .mbr-section-subtitle {
  text-align: left;
  color: var(--dominant-color, #ffc091);
}
.cid-uTAqkzFez1 .mbr-text,
.cid-uTAqkzFez1 .mbr-section-btn {
  text-align: center;
}
.cid-uTAqkzFez1 .mbr-section-title {
  text-align: center;
}

/*cid-uTAqkzFHB0 */
.cid-uTAqkzFHB0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uTAqkzFHB0 .item:focus,
.cid-uTAqkzFHB0 span:focus {
  outline: none;
}
.cid-uTAqkzFHB0 .item {
  cursor: pointer;
}
.cid-uTAqkzFHB0 .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzFHB0 .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-uTAqkzFHB0 .grid-container-1,
.cid-uTAqkzFHB0 .grid-container-2,
.cid-uTAqkzFHB0 .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzFHB0 .grid-container-1,
  .cid-uTAqkzFHB0 .grid-container-2,
  .cid-uTAqkzFHB0 .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-uTAqkzFHB0 .mbr-section-title {
  color: #000000;
}
.cid-uTAqkzFHB0 .mbr-text,
.cid-uTAqkzFHB0 .mbr-section-btn {
  color: #000000;
}
.cid-uTAqkzFHB0 .content-head {
  max-width: 800px;
}
.cid-uTAqkzFHB0 .container,
.cid-uTAqkzFHB0 .container-fluid {
  overflow: hidden;
}
.cid-uTAqkzFHB0 .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-uTAqkzFHB0 .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-uTAqkzFHB0 .grid-item img {
  min-width: 30vw;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
@media (max-width: 767px) {
  .cid-uTAqkzFHB0 .grid-item img {
    min-width: 35vw;
  }
}
.cid-uTAqkzFHB0 .grid-container-1,
.cid-uTAqkzFHB0 .grid-container-2,
.cid-uTAqkzFHB0 .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-uTAqkzFHB0 .grid-container-1 {
  align-items: flex-end;
}
.cid-uTAqkzFHB0 .grid-container-2 {
  align-items: flex-start;
}

.cid-uTAqkzF5nh .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTAqkzF5nh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #000000;
}

.cid-uTAqkzFtf9 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uTAqkzFtf9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTAqkzFtf9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uTAqkzFtf9 .card-wrapper {
  background: #ffffff;
}
@media (max-width: 767px) {
  .cid-uTAqkzFtf9 .card-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uTAqkzFtf9 .card-wrapper {
    padding: 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-uTAqkzFtf9 .card-wrapper {
    padding: 4rem;
  }
}
.cid-uTAqkzFtf9 .mbr-text,
.cid-uTAqkzFtf9 .mbr-section-btn {
  text-align: left;
}
.cid-uTAqkzFtf9 .img-wrapper img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50% !important;
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-uTAqkzFtf9 .img-wrapper img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .cid-uTAqkzFtf9 .img-wrapper img {
    width: 80px;
    height: 80px;
  }
}
.cid-uTAqkzFtf9 .img-wrapper {
  display: flex;
}
.cid-uTAqkzFtf9 .card-text {
  text-align: center;
  color: #000000;
}
.cid-uTAqkzFtf9 .card-title {
  text-align: center;
  color: #000000;
}


.cid-uTAqkzFCdx {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uTAqkzFCdx .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTAqkzFCdx .item-wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cid-uTAqkzFCdx .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uTAqkzFCdx .mbr-iconfont {
  display: inline-flex;
  font-size: 2rem;
  color: var(--primary-color, #d70081);
  width: 80px;
  justify-content: center;
  align-items: center;
  background: #ffd7ef;
  height: 80px;
  border-radius: 50%;
}
.cid-uTAqkzFCdx .card-title,
.cid-uTAqkzFCdx .iconfont-wrapper{
  color: var(--primary-color, #d70081);
  text-align: center;
}
.cid-uTAqkzFCdx .card-text {
  color: #000000;
  text-align: center;
}
.cid-uTAqkzFCdx .content-head {
  max-width: 800px;
}
.cid-uTAqkzFCdx .mbr-section-title {
  color: #000000;
}


.cid-uTAqkzFWbz {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
  }
  .cid-uTAqkzFWbz .item-subtitle {
    line-height: 1.2;
    color: #000000;
  }
  .cid-uTAqkzFWbz img,
  .cid-uTAqkzFWbz .item-img {
    width: 100%;
    height: 100%;
    height: 400px;
    object-fit: cover;
  }
  .cid-uTAqkzFWbz .item:focus,
  .cid-uTAqkzFWbz span:focus {
    outline: none;
  }
  .cid-uTAqkzFWbz .item {
    margin-bottom: 2rem;
  }
  @media (max-width: 767px) {
    .cid-uTAqkzFWbz .item {
      margin-bottom: 1rem;
    }
  }
  .cid-uTAqkzFWbz .item-wrapper {
    position: relative;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
  }
  .cid-uTAqkzFWbz .mbr-section-title {
    color: #232323;
  }
  .cid-uTAqkzFWbz .mbr-text,
  .cid-uTAqkzFWbz .mbr-section-btn {
    color: #232323;
  }
  .cid-uTAqkzFWbz .item-title {
    color: #232323;
  }
  .cid-uTAqkzFWbz .content-head {
    max-width: 800px;
  }


  .cid-uTAqkzF4zW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}

.cid-uTAqkzF4zW img,
.cid-uTAqkzF4zW .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}

.cid-uTAqkzF4zW .item:focus,
.cid-uTAqkzF4zW span:focus {
  outline: none;
}

.cid-uTAqkzF4zW .item {
  margin-bottom: 2rem;
}

@media (max-width: 767px) {
  .cid-uTAqkzF4zW .item {
    margin-bottom: 1rem;
  }
}

.cid-uTAqkzF4zW .item-content {
  margin-top: 2rem;
  padding: 0 2.25rem 2.25rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uTAqkzF4zW .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  .cid-uTAqkzF4zW .item-content {
    padding: 2rem 1.5rem;
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

.cid-uTAqkzF4zW .item-wrapper {
  position: relative;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.cid-uTAqkzF4zW .item-wrapper .item-footer {
  margin-top: auto;
}

.cid-uTAqkzF4zW .mbr-section-title {
  color: #000000;
}

.cid-uTAqkzF4zW .item-title {
  text-align: left;
}

.cid-uTAqkzF4zW .item-subtitle {
  text-align: left;
}

.cid-uTAqkzF4zW .mbr-text,
.cid-uTAqkzF4zW .item .mbr-section-btn {
  text-align: left;
}

.cid-uTAqkzF4zW .content-head {
  max-width: 800px;
}


.cid-uTAqkzF3LR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uTAqkzF3LR .item-subtitle {
  line-height: 1.2;
  color: #000000;
}
.cid-uTAqkzF3LR img,
.cid-uTAqkzF3LR .item-img {
  width: 100%;
}
.cid-uTAqkzF3LR .item:focus,
.cid-uTAqkzF3LR span:focus {
  outline: none;
}
.cid-uTAqkzF3LR .item {
  margin-bottom: 2rem;
}
@media (max-width: 575px) {
  .cid-uTAqkzF3LR .item {
    margin-bottom: 1rem;
  }
}
.cid-uTAqkzF3LR .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uTAqkzF3LR .mbr-section-title {
  color: #000000;
}
.cid-uTAqkzF3LR .mbr-text,
.cid-uTAqkzF3LR .mbr-section-btn {
  color: #000000;
}
.cid-uTAqkzF3LR .item-title {
  color: #000000;
  text-align: center;
}
.cid-uTAqkzF3LR .content-head {
  max-width: 800px;
}
.cid-uTAqkzF3LR img {
  filter: grayscale(1);
}


.cid-uTAqkzF1Ui {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-uTAqkzF1Ui .mbr-text {
  color: #000000;
}
.cid-uTAqkzF1Ui .mbr-section-subtitle {
  color: #000000;
}
.cid-uTAqkzF1Ui .mbr-section-title {
  color: #000000;
}


.cid-uTAqkzFz4g {
  padding-top: 5rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-uTAqkzFz4g .item-subtitle {
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.cid-uTAqkzFz4g img,
.cid-uTAqkzFz4g .item-img {
  width: 100%;
  height: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-uTAqkzFz4g .item:focus,
.cid-uTAqkzFz4g span:focus {
  outline: none;
}
.cid-uTAqkzFz4g .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzFz4g .item {
    margin-bottom: 1rem;
  }
}
.cid-uTAqkzFz4g .item-wrapper {
  position: relative;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
}
.cid-uTAqkzFz4g .mbr-section-btn {
  margin-top: auto !important;
}
.cid-uTAqkzFz4g .mbr-section-title {
  color: #000000;
}
.cid-uTAqkzFz4g .mbr-text,
.cid-uTAqkzFz4g .mbr-section-btn {
  color: #000000;
  text-align: center;
}
.cid-uTAqkzFz4g .item-title {
  color: #000000;
}
.cid-uTAqkzFz4g .content-head {
  max-width: 800px;
}


.cid-uTAqkzGG7D {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uTAqkzGG7D .item:focus,
.cid-uTAqkzGG7D span:focus {
  outline: none;
}
.cid-uTAqkzGG7D .container-fluid {
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
}
.cid-uTAqkzGG7D .content-head {
  max-width: 800px;
}
.cid-uTAqkzGG7D .item {
  color: #232323;
  min-height: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cid-uTAqkzGG7D .item {
    min-height: 45px;
  }
}


.cid-uTAqkzGgZx {
  overflow: hidden;
  background-image: url("https://proxy.electricblaze.com/?u=https%3A%2F%2Fimages.unsplash.com%2Fphoto-1496065187959-7f07b8353c55%3Fixid%3DM3w0Mzc5fDB8MXxzZWFyY2h8MjB8fHRlY2hub2xvZ3l8ZW58MHwwfHx8MTc1NDkwMDk2NXww%26ixlib%3Drb-4.1.0%26auto%3Dformat%26fit%3Dcrop%26w%3D1200%26q%3D80&e=1759968000&s=0j99WagqEzhpQnGE2q2yBKyiH2dPkwHIS5SlXijm_z4");
}


.cid-uTAqkzG57Q {
  display: flex;
  padding-top: 6em;
  padding-bottom: 5em;
  background-color: var(--dominant-color, #393193);
}

.cid-uTAqkzG57Q .mbr-fallback-image.disabled {
  display: none;
}

.cid-uTAqkzG57Q .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 768px) {
  .cid-uTAqkzG57Q {
    align-items: center;
  }

  .cid-uTAqkzG57Q .row {
    justify-content: center;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .cid-uTAqkzG57Q .content-wrap {
    min-width: 50%;
  }
}

@media (max-width: 767px) {
  .cid-uTAqkzG57Q {
    -webkit-align-items: center;
    align-items: center;
  }

  .cid-uTAqkzG57Q .mbr-row {
    -webkit-justify-content: center;
    justify-content: center;
  }

  .cid-uTAqkzG57Q .content-wrap {
    width: 100%;
    max-width: 800px;
  }
}

.cid-uTAqkzG57Q .mbr-section-title {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}

.cid-uTAqkzG57Q .mbr-text,
.cid-uTAqkzG57Q .mbr-section-btn {
  text-align: center;
  color: var(--dominant-text, #ffffff);
}



.cid-uTAqkzGVOW {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: transparent;
}
.cid-uTAqkzGVOW .mbr-text {
  color: #000000;
}
.cid-uTAqkzGVOW .mbr-section-subtitle {
  color: #000000;
}
.cid-uTAqkzGVOW .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-uTAqkzGVOW .mbr-text,
.cid-uTAqkzGVOW .item .mbr-section-btn {
  text-align: left;
}
.cid-uTAqkzGVOW .item-wrapper {
  background: #ffffff;
  margin-bottom: 2rem;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uTAqkzGVOW .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-uTAqkzGVOW .item-wrapper {
    padding: 2rem 1.5rem;
    margin-bottom: 1rem;
  }
}


.cid-uTAqkzGd6n {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-uTAqkzGd6n .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uTAqkzGd6n .social-row .soc-item {
  margin: 8px;
}
.cid-uTAqkzGd6n .social-row .soc-item a:hover .mbr-iconfont,
.cid-uTAqkzGd6n .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #f7f7f7;
}
.cid-uTAqkzGd6n .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #f7f7f7;
  color: var(--primary-color, #393193);
  transition: all 0.3s ease-in-out;
}
.cid-uTAqkzGd6n .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uTAqkzGd6n .mbr-section-title {
  color: #ffffff;
}
.cid-uTAqkzGd6n .mbr-section-title,
.cid-uTAqkzGd6n .social-list {
  color: #000000;
}


.cid-uTAqkzGrbn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uTAqkzGrbn .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-uTAqkzGrbn form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-uTAqkzGrbn form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-uTAqkzGrbn form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-uTAqkzGrbn .content-head {
  max-width: 800px;
}


.cid-uTAqkzGCDG {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-uTAqkzGCDG .mbr-fallback-image.disabled {
  display: none;
}
.cid-uTAqkzGCDG .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-uTAqkzGCDG .row {
  justify-content: center;
}
.cid-uTAqkzGCDG .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-uTAqkzGCDG .item {
    margin-bottom: 1rem;
  }
}
.cid-uTAqkzGCDG .item .item-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 2.25rem;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-uTAqkzGCDG .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .cid-uTAqkzGCDG .item .item-wrapper {
    padding: 2rem 1.5rem;
  }
}
.cid-uTAqkzGCDG .content-head {
  max-width: 800px;
}


.cid-uTAqkzGNtI {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-uTAqkzGNtI .social-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cid-uTAqkzGNtI .social-row .soc-item {
  margin: 8px;
}
.cid-uTAqkzGNtI .social-row .soc-item a:hover .mbr-iconfont,
.cid-uTAqkzGNtI .social-row .soc-item a:focus .mbr-iconfont {
  background-color: #ffffff;
}
.cid-uTAqkzGNtI .social-row .soc-item a .mbr-iconfont {
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 32px;
  background-color: #edefeb;
  color: #000000;
  transition: all 0.3s ease-in-out;
}
.cid-uTAqkzGNtI .row-links {
  width: 100%;
  justify-content: center;
}
.cid-uTAqkzGNtI .header-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-uTAqkzGNtI .header-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-uTAqkzGNtI .header-menu li p {
  margin: 0;
}
.cid-uTAqkzGNtI .copyright {
  margin-bottom: 0;
  color: #ffffff;
  text-align: center;
}
.cid-uTAqkzGNtI .mbr-section-title {
  color: #ffffff;
}


